<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ysy.smallapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SmallActivity$Small0"
            android:label="Small0"
            android:launchMode="singleTask"
            android:process=":Small0"
            android:taskAffinity=".Small0" />

        <activity
            android:name=".SmallActivity$Small1"
            android:label="Small1"
            android:launchMode="singleTask"
            android:process=":Small1"
            android:taskAffinity=".Small1" />

        <activity
            android:name=".SmallActivity$Small2"
            android:label="Small2"
            android:launchMode="singleTask"
            android:process=":Small2"
            android:taskAffinity=".Small2" />

        <activity
            android:name=".SmallActivity$Small3"
            android:label="Small3"
            android:launchMode="singleTask"
            android:process=":Small3"
            android:taskAffinity=".Small3" />

        <activity
            android:name=".SmallActivity$Small4"
            android:label="Small4"
            android:launchMode="singleTask"
            android:process=":Small4"
            android:taskAffinity=".Small4" />

    </application>

</manifest>
